@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}

/*header*/

body {
    font-family: ar-font;
    direction: rtl;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

header .overlay {
    background: linear-gradient(to right, rgba(41, 153, 155, 0.8) 0%, rgba(167, 173, 44, 0.8) 100%);
    height: 100vh;
}

/*navbar*/

nav.navbar ul.navbar-nav {
    padding-right: 0px;
}

nav.navbar ul.navbar-nav li a.nav-link {
    color: #e8e8e8;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}

nav.navbar ul.navbar-nav li a.nav-link:hover, nav.navbar ul.navbar-nav li a.nav-link.active {
    background-color: #fff;
    color: #16aeca !important;
}

nav.navbar .navbar-brand img {
    width: 100% !important;
}

nav.navbar.noTransparrent .navbar-brand img {
    width: 80% !important;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #16aeca;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover, nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #dae413 !important;
    background-color: #16aeca;
}

nav.navbar.noTransparrent {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

nav.navbar button.navbar-toggler {
    margin: 30px auto !important;
    transition: all 1s ease;
}

nav.navbar button.navbar-toggler span {
    color: #fff !important;
}

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #16aeca !important;
}

/*carousel*/

header .overlay .slider .carousel-inner .carousel-item {
    min-height: 100vh;
    opacity: 0;
}

header .overlay .slider .carousel-inner .carousel-item.active {
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption h3 {
    font-size: 40px;
    line-height: 60px;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
    bottom: 30%;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a {
    color: #fff;
    font-size: 18px;
    background-color: #16aeca;
    line-height: 50px;
    border-radius: 30px;
    padding: 0px 2rem;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    transform: translateY(50px) !important;
    transition: all 0.5s ease !important;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a {
    transform: translateY(0px) !important;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a:hover {
    background-color: #dae413;
    color: #555555;
}

header .overlay .slider .carousel-control-prev i, header .overlay .slider .carousel-control-next i {
    border-radius: 2px;
    padding: 30px 20px;
    font-size: 30px;
}

header .overlay .slider .carousel-control-prev {
    left: 20px;
}

header .overlay .slider .carousel-control-next {
    right: 20px;
}

/*servecies*/

.services {
    padding: 80px 0;
}

.services .title h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px !important;
}

.services .card {
    background-color: #fff;
    width: 100%;
    height: 250px;
    transition: all 1s ease !important;
}

.services .card:hover {
    height: 400px;
}

.services .col-md:nth-of-type(even) .card {
    height: 300px;
}

.services .col-md:nth-of-type(even) .card:hover {
    height: 400px;
}

.services .card img {
    width: 140px;
    margin: 40px auto 0;
}

.services .card .card-block h4 {
    font-size: 24px;
    color: #070c0c;
    line-height: 35px;
}

.services .card .card-block p {
    font-size: 15px;
    line-height: 20px;
    color: #919191;
    opacity: 0;
    transition: all 1s ease;
}

.services .card:hover .card-block p {
    opacity: 1;
}

/*أخر الاعمال*/

section.gallery .title h2 {
    font-size: 40px;
}

section.gallery .title {
    margin-bottom: 50px;
}

section.gallery .work-gallery a {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

section.gallery .work-gallery a .hover {
    background-color: rgba(22, 174, 202, 0.9);
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

section.gallery .work-gallery a .hover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

section.gallery .work-gallery a .hover:hover {
    opacity: 1;
}

section.gallery .work-gallery a img {
    width: 100%;
    height: 250px;
}

/*overlay*/

section.gallery .work-gallery .overlay-gallery {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    z-index: 10;
    padding: 5% 10%;
    opacity: 0;
    transition: all 1s ease;
    margin-top: 100vh;
}

section.gallery .work-gallery .overlay-gallery:target {
    opacity: 1;
    margin-top: 0;
}

section.gallery .work-gallery .overlay-gallery img {
    width: 100%;
    margin-top: 100px;
}

section.gallery .work-gallery .overlay-gallery .gallery-text {
    margin-top: 100px;
}

section.gallery .work-gallery .overlay-gallery a.close {
    color: #16aeca;
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}

section.gallery .work-gallery .overlay-gallery .gallery-text h3 {
    font-size: 36px;
    line-height: 52px;
    color: #16aeca;
    margin-bottom: 30px;
}

section.gallery .work-gallery .overlay-gallery .gallery-text ul {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
    padding-right: 0;
}

section.gallery .work-gallery .overlay-gallery .gallery-text ul li a {
    color: #555555;
}

section.gallery .work-gallery .overlay-gallery .gallery-text p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 50px;
    color: #919191;
}

section.gallery .work-gallery .overlay-gallery .gallery-text .vist {
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    background-color: #16aeca;
    color: #fff;
}

/*الإحصائيات*/

section.statistics {
    background-image: url(../images/bg2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section.statistics .overlay {
    background-color: rgba(22, 174, 202, 0.8);
    padding: 100px 0;
}

section.statistics .overlay p {
    font-size: 18px;
    color: #85ecff;
    line-height: 22px;
}

section.statistics .overlay .stat .count {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: #ddfaff;
}

/*contact us*/

section.contacts {
    padding: 100px;
    background-color: #fff;
}

section.contacts .info h3 {
    color: #181c1c;
    font-weight: bold;
    line-height: 50px;
    font-size: 24px;
}

section.contacts .info ul li {
    font-weight: bold;
    line-height: 25px;
    color: #16aeca;
    margin-bottom: 15px;
}

section.contacts .info ul {
    padding: 0;
}

section.contacts .info ul li i {
    margin-left: 6px;
}

/*form*/

section.contacts .form h3 {
    color: #181c1c;
    margin: 50px auto 20px;
    font-weight: bold;
    line-height: 50px;
    font-size: 24px;
}

section.contacts .form .cmxform input, section.contacts .form .cmxform textarea {
    border: 2px solid #eee;
    border-radius: 3px;
    background-color: #f7f7f7;
    color: #5c5c5c;
    font-family: ar-font;
    font-size: 15px;
    line-height: 25px;
}

section.contacts .form .cmxform button {
    background-color: #16aeca;
    color: #fff;
    padding: 10px 25px;
    line-height: 25px;
    font-size: 15px;
    border-radius: 3px;
    border: 0;
    font-family: ar-font;
    margin-right: 15px;
}

section.contacts .form .cmxform {
    width: 70%;
    margin: 0 auto 50px;
}

section.contacts .form .error {
    color: red;
}

/******footer**********/

footer .top-footer {
    background-color: #171717;
    padding: 75px 0;
}

footer .top-footer h3 {
    color: #85ecff;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 45px;
    position: relative;
}

footer .top-footer h3::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    background-color: #5c5c5c;
}

footer .top-footer p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 50px;
    color: #919191;
}

footer .top-footer ul {
    padding: 0 !important;
}

footer .top-footer ul li a i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    background-color: #333333;
    color: #acacac;
    transition: all linear 0.2s;
}

footer .top-footer ul li {
    margin-right: 5px;
}

footer .top-footer ul li a i:hover {
    color: #333333;
    background-color: #16aeca;
}

footer .top-footer .contact-us li {
    margin-bottom: 35px;
    font-size: 18px;
    color: #676767;
}

footer .top-footer .contact-us li:last-of-type {
    margin-bottom: 0;
}

footer .top-footer .contact-us li i {
    height: 30px;
    width: 30px;
    background-color: #282828;
    color: #bababa;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
}

footer .copyright {
    background-color: #111111 !important;
}

footer .copyright p {
    font-size: 15px;
    color: #919191;
    line-height: 78px;
    margin-bottom: 0 !important;
}

/************media query**********************/

@media (max-width: 768px) {
    .navbar {
        padding: .5rem 0rem;
    }
    .big {
        font-size: 35px;
    }
    nav.navbar .navbar-collapse {
        background: #00000061;
    }
    nav.navbar.noTransparrent .navbar-collapse {
        background-color: #fff;
    }
    nav.navbar .container {
        width: 100%;
    }
    nav.navbar .navbar-brand img {
        width: 80%;
    }
    .iframe {
        width: 100% !important;
        height: 500px !important;
    }
    section.contacts .info ul li {
        font-size: 30px;
        text-align: right;
        margin-bottom: 25px;
    }
    section.contacts .form .cmxform {
        width: 100%;
    }
}

@media (max-width: 980px) {
    nav.navbar ul.navbar-nav li a.nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 19px;
    }
    header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
        bottom: 25%;
    }
    .services .col-md:nth-of-type(even) .card:hover {
        height: 450px;
    }
    .services .col-md:last-of-type .card:hover {
        height: 450px;
    }
    iframe {
        width: 350px !important;
    }
}

@media (max-width: 575px) {
    header .overlay .slider .carousel-control-prev i, header .overlay .slider .carousel-control-next i {
        display: none;
    }
    nav.navbar .navbar-collapse {
        background: #16aeca;
    }
    header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
        right: 2%;
        left: 2%;
    }
    section.gallery .work-gallery a {
        display: block;
    }
    .work-gallery .col-md>.col-sm>a img {
        width: 100%;
        height: 100%;
    }
    section.gallery .work-gallery .overlay-gallery img {
        width: 90%;
    }
    .iframe {
        width: 100%;
    }
}